#users {
    margin-top: 10px;
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

body {
    overflow-x: hidden;
}

.list-group-item:hover {
    cursor: pointer;
}

.btn {
  color: #301504;
  background-color: #FCB900;
}

.list-group-item.active {
    border-color: #333333;
    background-color: #333333;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    /* overflow-x: hidden; */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }