.dropdown-menu.show {
    width: 400px;
    text-align: center;
}

.dropdown-item:active {
    background-color: #f0f0f0;
    color: black;
}

#btn {
    border: none;
    margin-top: 10px;
    background-color: #FCB910;
    color: #333333;
    box-shadow: none;
    margin-bottom: 10px;
    height: 100px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}
