.display {
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 16px;
}

#fix-border {
    border: none;
}

#handleClick:active {
    background-color: #333333;
    color: white;
}

#handleClick:hover {
    background-color: #333333;
    color: white;
}

#overflow {
    margin-top: 10px;
    height: 70vh;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

